<h1>Help</h1>

<p>
  Should you need any help, just blood!

  <ul>
    <li>{{#link-to 'gettingstarted'}}Getting Started{{/link-to}}</li>
    <li>{{#link-to 'movingon'}}Moving On{{/link-to}}</li>
  </ul>
</p>

{{outlet}}